body{
  font-family: 'Nunito', sans-serif !important;
}
main.container{
  max-width: 100%;
}
.zoom {
    transition: transform .2s; /* Animation */
  }
/***** These are to edit the thumb and the text inside the thumb *****/

.title-myHeading{
  padding: auto;
  border-radius: 0.4rem;
  /* background-color: #d9d9d9; */
  z-index: 2;
  color: #312244;
  transform: scale(1.1);
  box-shadow: #d0d1ff;
  transition: transform .3s;
}
.is-index-campground{
  width: 26rem!important; 
  background-color: #e5e5e5!important;
}

.zoom:hover {
  z-index: 3;
  transform: scale(1.07); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.is-form{
  background-color: #e5e5e5;
}